/* Home section */
.intro {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	background-color: rgba(0,206,209, 0.19);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro::after {
	content: "";
	background: url(bg-intro.JPG) center top;
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
  }
.intro h1, p {
	color: #2f313d;
}

/* Media Queries */
@media(min-width:768px) {
  .intro {
    height: 100%;
    padding: 0;
    text-align: left;
    color: #fff;
  }
  .intro H1 {
    font-size: 60px;
    font-weight: 500;
    letter-spacing: -2px;
  }
  .intro .name {
    font-weight: 600;
  }
  .intro .intro-text {
    max-width: 75%;
  }
  .intro .intro-text p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  section {
    padding: 120px 0;
  }
  .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .myContact-details {
    flex: none;
    max-width: -webkit-fill-available;
    margin-left: 0;
  }
  }