body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #656c6d;
	width: 100% !important;
	position: relative; 
}
html {
	scroll-behavior: smooth;
}
h1 {
	font-weight: 700;
}
h1 strong {
	font-weight: 900;
}
h2 {
	line-height: 20px;
	margin: 0;
	color: #121d1f;
	font-weight: 400;
	margin-bottom: 30px;
	font-size: 34px;
}
h3, h4 {
	color: #121d1f;
	font-size: 20px;
	font-weight: 600;
}
h5 {
	font-weight: 700;
	line-height: 20px;
}
p.intro {
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}
a {
	color: #333;
}
a:hover, a:focus {
	text-decoration: none;
	color: #7bc3d1;
}
ul, ol {
	list-style-type: circle;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
hr {
	height: 2px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #929d9d;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 0;
}

/* Navigation */
#nav {
	z-index: 9999;
}
#nav.affix {
	position: fixed;
	top: 0;
	width: 100%
}
.btn-default {
	color: #fff;
	background-color: transparent;
	border-color: #fff;
	padding: 10px 20px;
	margin: 0;
	font-size: 16px;
	border-radius: 0;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	color: #fff;
	background-color: #121d1f;
	border-color: #121d1f;
}
.btn-primary {
	color: #fff;
	background-color: #121d1f;
	padding: 10px 20px;
	border-color: #121d1f;
	border-radius: 0;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {
	color: #fff;
	background-color: #7bc3d1;
	border-color: #7bc3d1;
}
.btn-primary i.fa {
	margin-right: 10px;
}

/* Home section */
.intro {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	background-color: rgba(0,206,209, 0.19);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro::after {
	content: "";
	background: url(bg-intro.JPG) center top;
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
  }
.intro h1, p {
	color: hsl(231, 13%, 21%);
}

.section-title.center {
	padding: 25px 0 45px 0;
}
/* Media Queries */
@media(min-width:768px) {
  .intro {
    height: 100%;
    padding: 0;
    text-align: left;
    color: #fff;
  }
  .intro H1 {
    font-size: 60px;
    font-weight: 500;
    letter-spacing: -2px;
  }
  .intro .name {
    font-weight: 600;
  }
  .intro .intro-text {
    max-width: 75%;
  }
  .intro .intro-text p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  section {
    padding: 120px 0;
  }
  .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .myContact-details {
    flex: none;
    max-width: -webkit-fill-available;
    margin-left: 0;
  }
  }

/* About Section */
#about {
	padding: 100px 0;
	background: #fff;
}
#about .about-text {
	margin-left: 10px;
}
#about img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	display: inline-block;
}
#about p {
	margin-top: 20px;
	margin-bottom: 30px;
}

/* Skills Section */
#skills {
	padding: 100px 0;
	background: #fafafa;
}
#skills h2 {
	color: #121d1f;
}
#skills .skill {
	margin-bottom: 40px;
	text-align: center;
	padding: 0px;
}
#skills .skill h4 {
	font-weight: 600;
	color: #fff;
}
.percent {
	display: inline-block;
	font-size: 21px;
	color: #121d1f;
	line-height: 152px;
	z-index: 2;
}
.percent:after {
	content: '%';
	margin-left: 0.1em;
	font-size: .8em;
}

/* Portfolio Section */
#portfolio {
	padding: 80px 0;
	background: #fff;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin-left: 20px;
}
ol.type li a {
	background: #7bc3d1;
	color: #fff;
	padding: 6px 14px;
}
ol.type li a.active {
	background: #121d1f;
	color: #fff;
}
ol.type li a:hover {
	background: #121d1f;
	color: #fff;
}
.portfolio-item {
	/* margin: 15px 0; */
	height: 100%;
}
#portfolio i.fa {
	font-size: 20px;
	padding: 5px;
	color: #E87E04;
}
.project-card{
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 1.5rem !important;
}
i.fa {
	font-size: 30px;
}
.project {
	height: 100%;
}
.modal-footer img {
	width: 26px;
	height: 30px;
}

/* Contact Section */
#contact {
	padding: 100px 0 40px 0;
	color: #121d1f;
	background: #fafafa;
}
#contact h2 {
	color: #121d1f;
}
#contact i.fa {
	color: #121d1f;
	margin-bottom: 10px;
}
#contact .social {
	margin-top: 60px;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 30px;
	padding: 4px 5px;
	color: #929d9d;
	transition: all 0.5s;
}
#contact .social i.fa:hover {
	color: #121d1f;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}

/* Footer Section*/
#footer {
	background: #121d1f;
	color: #7d8384;
	padding: 30px 0 25px 0;
}
#footer p {
	font-size: 13px;
	color: rgb(255, 255,255)
}

 /* Small devices (landscape phones, 576px and up) */
 @media (max-width: 575.98px) { 
	.intro {
		height: 100%;
	}
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
.myContact-details {
	flex: 0 0 66.666667%;
	max-width: 66.666667%;
	margin-left: 16.66666667%;
	}
}